{% extends 'base.html' %}

{% block title %} Algorithms {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}


<div class="container my-2">
    <a class="btn btn-primary btn-lg" href="logistic/" role="button">View Result</a>
  </div> 


<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h4 class="border-bottom border-gray pb-2 mb-0">Logistic Algorithm</h4>
      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Defination</strong>
          Logistic regression is a supervised learning classification algorithm used to predict the probability of a target variable. The nature of target or dependent variable is dichotomous, which means there would be only two possible classes.
          In simple words, the dependent variable is binary in nature having data coded as either 1 (stands for success/yes) or 0 (stands for failure/no).
            </p>
      </div>

      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
        <div class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Types of Logistic Regression</strong>
          <ul>
            <li>
            <h5>  Binary or Binomial.</h5>
            </li>
            <li>
             <h5> Multinomial.</h5>
            </li>

            <li>
              <h5> Ordinal.</h5>
             </li>
          </ul>
        </div>
       </div>


      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Working</strong>
          LOgistic regression “Logit” is a classic statistical technique to estimate binary probabilities at any input levels. Logit belongs to a family of statistical methods call GLiM or generalized linear models which was developed in the early 70s by Nelder and Wedderburn and has become popular ever since to model diverse phenomena like count data and what not. The machine learning people can call it whatever they want but it’s based on a family called exponential family of distributions (like the gamma) and estimations is the maximum likelihood: in my book it’s as calassical statistics as it gets. Again nobody will stop machine learners from giving it any name they choose and I certainly don’t object to renaming things. They can call it “hootamoota” if they want to.
        </p>
      </div>
    </div>  
  </main>


 

 
<div class="container my-2">
    <a class="btn btn-primary btn-lg" href="random/" role="button">View Result</a>
  </div> 

  <main role="main" class="container">
  
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h4 class="border-bottom border-gray pb-2 mb-0">
        Random Forest Algorithm</h4>
      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Defination</strong>
          Random forest is a flexible, easy to use machine learning algorithm that produces, even without hyper-parameter tuning, a great result most of the time. It is also one of the most used algorithms, because of its simplicity and diversity (it can be used for both classification and regression tasks). In this post we'll learn how the random forest algorithm works, how it differs from other algorithms and how to use it.
        </p>
      </div>
      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
        <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">How Random Forest Wroks</strong>
          Random forest is a supervised learning algorithm. The "forest" it builds, is an ensemble of decision trees, usually trained with the “bagging” method. The general idea of the bagging method is that a combination of learning models increases the overall result.
        </p>
      </div>

      <div class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
        <div class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">Important Features</strong>
          <ul>
            <li>
            <h5>  Increasing the predictive power</h5>
            </li>
            <li>
             <h5> Increasing the model's speed</h5>
            </li>
          </ul>
        </div>
        </div>
    </div>
  </main>

  
{% endblock body%}